* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-top: 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: blue;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 00px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
    
  
  
header {
    color:white;
    text-shadow: 2px 2px 4px #000000;
    padding: 20xp;
    background-color: blue;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    
    margin-left: 600px;
    font:20px;
    font-weight: 20px;
    color:cornsilk;
}
body {
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    background-repeat: no-repeat;
    color: white;
}
 h5{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 0px;
    font-size: 14pt;
    font-weight: 100px;

}

 .container{ 
    box-shadow: 5px 10px rgb(6, 62, 134);
    padding: 25px;
    border: solid rgb(59, 59, 214) 4px;
    border-radius: 20px; 
    display:flex;  
    margin-top: -90px;
    font-size: 100%;
    margin-left: 400px;
    max-width:40% ;
    max-height: 900px;
    color:white; 
    

 } 
h2{ 
    /* padding: 20px;
     background-color: blue;  */
     color:white;
    text-shadow: 2px 2px 4px #000000; 
     margin-top: 100px;
    margin-left: 200px; 
    color: white;
    font-size: 20pt;
    font-weight: 100px; 

   
   
 } 
 h4{
     padding: 20px;
    /* background-color: blue;  */
     color:white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -10px ;
    margin-left: 10px;
    font-size: 18pt;
    font-weight: 100px;
} 
h6{
    margin-top: -25px ;
    margin-left: 70px;
    font-size: 15pt;
}
   

#temp{ 
    
    font-size: 15pt;
    
}

p{
    font-size:14pt;
}
    

h3{
    font-size:14pt;
}


 .container1{
    padding: 25px;
    border: solid rgb(35, 35, 148) 1px;
    background-color:blue;
    border-radius: 20px; 
    display:flex;
    margin-top: 75px;
    max-width:fit-content;
    max-height: fit-content;
    font-size: 10pt;
    color: white;
 } 
 #history{
   display:flex;
   flex-direction: column;
   width: 200px;
   margin-top: 20px;
 }
  .pastCitySearch{

    margin-top: 10px;

    border-radius: 10px;
  }
